*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

#pistolD{

    display: none;

}

#pistolA{

    display: none;

}

#vampA{

    display: none;

}

#vampD{

    display: none;

}

#fucilD{

    display: none;

}

#fucilA{

    display: none;

}
#Sfondo{

    display: none;

}